body {
    background-color: #070F2B;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/bg_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.site__navegação {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.site__navegação a {
    text-decoration: none;
    color: #1B1A55;
    text-align: center;
    gap: 20px;
    margin: 0 20px;
    font-size: 16px;
}

.logo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000; /* make sure it's on top of other elements */
    padding: 10px; /* add some padding around the logo */
  }

  .logo img {
    width: 250px; /* adjust the logo size as needed */
    height: 250px;
    opacity: 0.8;
  }